.landing_main{

    height: 500px;
    background-color: #7afaf0;
    background-image: url('img/73560a545c6ae6b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;

}

.landing_main h1 {
text-align: center;
    color: white;

}
.h1p1{
    text-align: center;
    font-size: 20px;
    color: #0000cc;
    font-weight: bold;
}
.advisor_div{
    text-align: center;
    margin-top: 50px;
}
.advisor_div button {
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    background-color: blue;
    border: none;

}